{% extends 'base.html' %}

{% block title %}Popular Gyms
{% endblock title %}

{% block body %}
<div class="container my-3 px-0">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-5 ">
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/1200x600/?gyms,gymclub" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">{{x}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/1200x600/?girl,workout" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">{{x}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/1200x600/?fitness" class="d-block w-100" alt="...">
          <div class="card-body">
            <p class="card-text">{{x}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/1200x600/?workout" class="d-block w-100" alt="...">        
          <div class="card-body">
            <p class="card-text">{{x}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/1200x600/?gym,people" class="d-block w-100" alt="...">        
          <div class="card-body">
            <p class="card-text">{{x}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/1200x600/?women,workout" class="d-block w-100" alt="...">        
          <div class="card-body">
            <p class="card-text">{{x}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
  
      <div class="col">
        <div class="card shadow-sm">
        <img src="https://source.unsplash.com/1200x600/?healthy,gymclub" class="d-block w-100" alt="...">        
          <div class="card-body">
            <p class="card-text">{{x}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <img src="https://source.unsplash.com/1200x600/?food,gym" class="d-block w-100" alt="...">        
          <div class="card-body">
            <p class="card-text">{{x}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
        <img src="https://source.unsplash.com/1200x600/?diet" class="d-block w-100" alt="...">        
          <div class="card-body">
            <p class="card-text">{{x}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-body-secondary">9 mins</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock body %}